# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django migrations
*/migrations/

# Django database files
db.sqlite3

# Virtual environment
venv/
env/

# Environment variable files
.env

# Static and media files
static/
media/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
